.edit-form-container {
  max-width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
    color: #3f51b5;
    margin-bottom: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: center;
    width: 50%;
  }
}
