.bg {
  background-image: url('https://cdn6.agoda.net/images/MVC/default/background_image/illustrations/bg-agoda-homepage.png');
 
  background-repeat: no-repeat; 
  margin-left: 50px;
  
  position: absolute;
  width: 100%;
  height: 100%;

  border-bottom-left-radius: 48px;
}
